*{
    box-sizing: border-box;
    background-color: rgb(170, 186, 190);
    margin-left: 5.5rem;
    margin-top: 5rem;
}
.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(191, 14, 14);
}
table td{
    height: 100px;
    width: 100px;
    border: 1px solid rgb(162, 108, 6);
    cursor: pointer;
}
container:hover                                                      {
    color: rgb(57, 93, 125);
}
.btn{
    color: rgb(170, 125, 58);
    margin-top: 0.5rem;
}
.para{
    margin-top: 1rem;
    font-size: large;

}
